#MainArea{
    position: relative;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 15px;
    box-sizing:border-box;
    background: radial-gradient(77.17% 108.57% at 14.13% 11.44%, rgba(190, 212, 232, 0.00) 0%, rgba(146, 129, 225, 0.56) 100%), #974dff9b;
}
#MainArea:hover{
    width: 260px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 15px;
    background: radial-gradient(85.36% 70% at 0% 0%, rgba(174, 205, 238, 0.00) 0%, #9747FF 100%), #974DFF;
    box-shadow: 0 0 15.2px 0 #451F6B, 0 0 13.1px 0 rgba(201, 150, 222, 0.33);
    cursor: pointer;
    #ProfileName{
        color: #FFF;;
    }
    #ProfilePic{
        border: 4px solid #D5D2F3;
    }
    #goToArrow{
        color: #FFF;
    }
    #ItemList{
        background: transparent;
    }
}
#ProfileArea{
    display: flex;
    width: 276px;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
#ProfilePic {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 125px;
    border: 4px solid #451F6B;
    background:#D5D2F3 0px 0px / 100% 133.333% no-repeat;
}
#ProfileName{
    color: #451F6B;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
