#mainArea {
    display: flex;
    width: 575px;
    height: 471px;
    padding: 48px 28px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #25252D;
}
.graphArea{
    display: flex;
    width: 340px;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}
.radarGraphArea{
    width: 317px;
    height: 232px;
    flex-shrink: 0;
}
.doughnutArea{
    width: 340px;
    height: 121px;
}
.InfoArea {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}
.InfoCard {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
}
.InfoCardTop {
    display: flex;
    height: 45px;
    padding: 5px 43px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px 10px 0 0;
    background: #962DFF;
}
.InfoCardBottom {
    display: flex;
    height: 70px;
    padding: 2px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 0 0 10px 10px;
    background: #C893FD;
}
.InfoCardTitle {
  color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.InfoContent {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}