<div id = "mainArea">
    <div class="graphArea">
        <div class="radarGraphArea">

        </div>
        <div class="doughnutArea">

        </div>
    </div>
    <div class = "InfoArea"> 
        <div class = "InfoCard">
            <div class="InfoCardTop">
                <p class="InfoCardTitle">Peso</p>
            </div>
            <div class="InfoCardBottom">
                <p class="InfoContent">{{Atleta.bodyComposition?.weight}}Kg</p>
            </div>
        </div>
        <div class = "InfoCard">
            <div class="InfoCardTop">
                <p class="InfoCardTitle">Gordura</p>
            </div>
            <div class="InfoCardBottom">
                <p class="InfoContent">{{Atleta.bodyComposition?.fat}}%</p>
            </div>
        </div>
         <div class = "InfoCard">
            <div class="InfoCardTop">
                <p class="InfoCardTitle">Músculo</p>
            </div>
            <div class="InfoCardBottom">
                <p class="InfoContent">{{Atleta.bodyComposition?.muscle}}%</p>
            </div>
        </div>
    </div>

</div>