#mainArea {
    display: flex;
    width: 100%;
    max-width: 100%;
    min-height: auto;
    padding: 40px 30px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #25252D;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    border: 1px solid #2A2A2A;
    box-sizing: border-box;
}
.graphArea{
    display: flex;
    width: 340px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.radarGraphArea{
    width: 317px;
    height: 232px;
    flex-shrink: 0;
    margin-top: -50px;
}
.doughnutArea{
    width: 340px;
    height: 121px;
}
.InfoArea {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}
.InfoCard {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
}
.InfoCardTop {
    display: flex;
    height: 45px;
    padding: 5px 43px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px 10px 0 0;
    background: #962DFF;
}
.InfoCardBottom {
    display: flex;
    height: 70px;
    padding: 2px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 0 0 10px 10px;
    background: #C893FD;
}
.InfoCardTitle {
  color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.InfoContent {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.doughnutArea {
    width: 340px;
    display: flex;
    justify-content: space-between; /* deixa os 3 donuts alinhados */
    align-items: flex-start;
}


.doughnutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 140px; /* 100 para o gráfico + 40 para o título */
}

.doughnutTitle {
    color: #E0C6FD;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 6px;
}

.doughnutContainer {
    width: 100px;
    height: 100px;
    position: relative;
}

.doughnutContainer ::ng-deep canvas {
    width: 100px !important;
    height: 100px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    display: block !important;
    position: static !important;
}


.doughnutCenterText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    pointer-events: none;
    font-family: Roboto;
    font-weight: bold;
    color: #E0C6FD;
    font-size: 24px;
}
