:root {
  --header-height: 60px;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-container {
  flex-grow: 1;
  width: 100%;
  position: relative; 
}

.app-content {
  height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  color: #000;
  padding: 20px;
  transition: filter 0.3s ease-in-out;
}

.app-content.blurred {
  filter: blur(2px) brightness(0.7);
}

.app-sidenav {
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  
  width: 80px;
  background-color: #25252D;
  transition: width 0.3s ease-in-out;
  border-radius: 0;
  overflow: hidden;
}

.app-sidenav.expanded {
  width: 265px;
}