#MainArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 37px;
}
#MainProfileArea{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
    align-self: center;
    width: 100%;
    margin-left: 25px;
}
#LeftSide{
    align-content: center;
    justify-content: center;

}
#DeleteButton{
    background-color: #962DFF;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 2.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 20rem;
    color: white;
    
}
#ProfilePic{
    width: 350px;
    height: 350px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: solid 2px;
    border-radius: 100%;
}
#PhotoNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#ArterialPressurePlaceHolder{
align-content: center;
justify-content: center;
width: 611.165px;
height: fit-content;
padding: 10px;
padding-bottom: 20px;
border-radius: 20px;
background: #25252D;
box-shadow: 0 2px 6px 0 rgba(13, 10, 44, 0.08);
h1{
    margin-left: 10px;
    color: white;
    font-size: 26px;
    height: 1rem;
    width: 100%;
}
h2{
    height: 1rem;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    font-weight: 300;
}
p{
    color: white;
    font-family: roboto;
    font-weight: 300;
    font-size: 18px;
    height: 1.5rem;
    margin-left: 40px;
    margin-bottom: 5px;
    padding: 5px;
}
}
#LabExamensPlaceholder{
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 611.165px;
    height: fit-content;
    border-radius: 20px;
    background: #25252D;
    box-shadow: 0 2px 6px 0 rgba(13, 10, 44, 0.08);
    .LEPEntry{
        align-content: center;
        display: inline-flex;
        justify-content: space-evenly;
        width: 500px;
        height: 3rem;
    }
    h1{
        color: white;
        margin-left: 10px;
        font-size: 40px;
        text-align: center;
    }
    p{
        width: 290px;
        color: white;
        font-family: roboto;
        font-weight: 300;
        font-size: 18px;
        
    }
}
#SpecificArea{
    display: inline-flex;
    margin-left: 75px;
    gap: 30px;
}
#ColumnOne{
    display: flex;
    width: 611.165px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}
#ColumnTwo{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    align-content: start;
    gap: 29px;
}
#HealthIndicatorsPlaceholder{
    align-content: center;
    padding: 15px;
    justify-content: center;
    width: 650px;
    height: fit-content;
    border-radius: 20px;
    background: #25252D;
    box-shadow: 0 2px 6px 0 rgba(13, 10, 44, 0.08);
    h1{
        color: white;
        font-size: 24px;
        height: 1rem;
        font-weight: 700;
        margin-top: 5px;
    }
    h2{
        height: 1rem;
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
    #HIPLine{
        height: 1px;
        color: white;
        background: white;
    }
    p{
        color: rgb(255, 255, 255);
        font-family: roboto;
        font-weight: 400;
        font-size: 20px;
        margin-left: 20px;
    }
}
#HormonalLevelPlaceholder{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-top: 15px;
    width: 236px;
    aspect-ratio: 460/1000;
    border-radius: 10px;
    background: #25252D;
    box-shadow: 0 2px 6px 0 rgba(13, 10, 44, 0.08);
    h1{
        text-align: center;
        color: white;
        font-size: 32px;
        line-break: auto;
        line-height: 2rem;
        margin-bottom: 0px;
    }
    h2{
        color: white;
        text-align: center;
        justify-content: center;
        align-content: center;
        font-family: roboto;
        border-radius: 5px 5px 0 0;
        width: 200px;
        background: #962DFF;
        height: 2rem;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 0;
    }
    h3{
        color: white;
        font-weight: 300;
        text-align: center;
    }
    p{
        background: #C893FD;
        margin-top: 0;
        width: 200px;
        border-radius: 0 0 5px 5px;
        height: 100px;
        justify-content: center;
        align-content: center;
        color: white;
        font-family: roboto;
        font-weight: 800;
        font-size: 36px;
        text-align: center;
        margin-bottom: 10px;
    }
}
#BottomColumnTwo{
    display: flex;
    align-items: center;
    gap: 14px;
    align-self: stretch;
}
#TestLevelPlaceholder{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 400px;
    aspect-ratio: 460/280;
    border-radius: 20px;
    background: #25252D;
    box-shadow: 0 2px 6px 0 rgba(13, 10, 44, 0.08);
    #infoBox{
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 5px;
    }
    h1{
        text-align: center;
        color: white;
        font-size: 32px;
        line-break: auto;
        line-height: 2rem;
        margin-bottom: 0px;
    }
    h2{
        color: white;
        text-align: center;
        justify-content: center;
        align-content: center;
        font-family: roboto;
        border-radius: 5px 5px 0 0;
        width: 160px;
        background: #962DFF;
        height: 2rem;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 0;
    }
    h3{
        color: white;
        font-weight: 300;
        text-align: center;
        margin-bottom: 0;
    }
    p{
        background: #C893FD;
        margin-top: 0;
        width: 160px;
        border-radius: 0 0 5px 5px;
        height: 100px;
        justify-content: center;
        align-content: center;
        color: white;
        font-family: roboto;
        font-weight: 800;
        font-size: 36px;
        text-align: center;
    }
}
#ColumnBottomColumnTwo{
    display: flex;
    width:fit-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.apagar-botao{
    justify-items: center;
    justify-content: center;
    text-align: center;
    background-color: #962DFF;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-family: roboto;
    border: none;
    height: 50px;
    width: 355px;
    font-size: 30px;
    cursor: pointer;
}
#LeftSide{
    justify-content: center;
    display: flex;
    flex-direction: column;
}