/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: #121212;
    --card-bg: #1E1E1E;
    --text-color: #ffffff;
    --accent: #4CAF50;
    --border-color: #2A2A2A;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
  }
  
  input, select, textarea {
    background: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 8px;
    border-radius: 6px;
  }
  
  button {
    background-color: var(--accent);
    border: none;
    padding: 10px 14px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
  }
  
  button:hover {
    opacity: .9;
  }
  